<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>로그인 - StudySlot</title>
  <link rel="stylesheet" th:href="@{/css/user/signup.css}">
  <link rel="stylesheet" th:href="@{/css/user/login.css}">
</head>
<body>
<div class="signup-box">
  <h1>로그인</h1>

  <p class="error-msg" id="login-error"></p>

  <form id="login-form" autocomplete="off">
    <input type="hidden" id="redirect" th:value="${redirect}">
    <div class="field">
      <label for="email">이메일</label>
      <input type="email" id="email" placeholder="you@example.com" autocomplete="off">
    </div>

    <div class="field">
      <label for="password">비밀번호</label>
      <input type="password" id="password" placeholder="비밀번호" autocomplete="off">
    </div>

    <button type="submit" id="submit-btn">로그인</button>
  </form>

  <p class="signup-link">
    계정이 없으신가요? <a th:href="@{/user/signup}">회원가입</a>
  </p>
</div>

<script th:src="@{/js/user/login.js}"></script>
</body>
</html>